node_modules
dist
.git
.gitignore
.vscode
.idea
*.log
*.md
*.zip
backend
*.bat
src.zip
Client-RGS.txt
RGS-Game-server-math.txt
Game-server-RNG.txt
config.js
tsconfig.json
vite.config.ts
package-lock.json

